In [1]:
import pandas as pd
from glob import glob
import numpy as np
from tqdm import tqdm

In [2]:
# groups = {}
# for group in tqdm(["CN","MCI","AD"],"Opening faster"):
#     groups[group]=np.load(open(f"Data/{group}.npy","br"))
#     print(len(groups[group]))

In [3]:
all_subjects = []
all_images = []
# patient_groups = {}
for group in ["CN","MCI","AD"]:
    files = glob(f"Data/Pre-processed/{group}/*.nii.gz")
    # with open(f"Data/{group}.npy","br") as f:
        # images = np.load(f)
    # assert len(files) == len(images) # Make sure we're not smoked
    # all_images.extend(images)
    # patient_groups[group] = patients, images
    'Data/Pre-processed/CN\\1000_sub-ADNI941S6546_ses-M048_T1w2_norm.nii.gz'
    def extract_sub(fp):
        sub = fp[fp.index("S"):]
        return sub[:sub[3:].index("_")+3].replace("_","")
    subjects = [extract_sub(fp) for fp in files]
    all_subjects.extend(subjects)

# all_images = np.stack(all_images)
# print(all_images.shape)

all_subjects = pd.DataFrame(all_subjects, columns=["subject"])
all_subjects.reset_index(inplace=True)
all_subjects.rename(columns={"index":"imageid"},inplace=True)

all_subjects["Group"] = 0
all_subjects.loc[1326:1326+461,"Group"] = 1
all_subjects.loc[1326+461:1326+461+213,"Group"] = 2

all_subjects

      imageid subject  Group
0           0   S6546      0
1           1   S6570      0
2           2   S6570      0
3           3   S6574      0
4           4   S6574      0
...       ...     ...    ...
1995     1995   S0300      2
1996     1996   S0916      2
1997     1997   S1262      2
1998     1998   S0404      2
1999     1999   S0916      2

[2000 rows x 3 columns]

In [4]:
def open_prepare_df(name="All_Subjects_RECCMEDS_11Mar2025"):
    try:
        df = pd.read_csv(f"Data/Individual level/{name}.csv")
    except Exception as e:
        if "Archived" in name: raise e 
        return open_prepare_df("Archived/"+name)
    df["subject"] = df["PTID"].str.split("_")
    df["subject"] = df["subject"].str[1] + df["subject"].str[2]
    return df

adverse_events = open_prepare_df("All_Subjects_ADVERSE_11Mar2025")

A=set(adverse_events["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
adv_events = adverse_events[["subject","AERELAD","AERELCM","AERELFLRBTBN","AERELFLRBPR","AEHIMG","AERELTAU","AERELNAV","AERELMK","AERELPI","AEHLUMB","AERELCOVID","AERELPAN","AERELATESP","AEHCMEDS","AESERIOUS"]].fillna(0)
for col in adv_events:
    if col =="subject": continue
    col_ = adv_events[col]
    adv_events[col] = col_.astype("float")
    adv_events.loc[col_ > 0, col] = (5 - col_) / 4.
adv_events

1120 378 904 594

,subject,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,AERELNAV,AERELMK,AERELPI,AEHLUMB,AERELCOVID,AERELPAN,AERELATESP,AEHCMEDS,AESERIOUS
0,S2245,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,1.00,0.0,0.0,0.00,1.0,0.0
1,S6041,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.50,0.0,0.0,0.00,0.0,0.0
2,S6053,0.0,0.0,0.0,0.25,0.25,0.25,0.0,0.0,0.0,0.75,0.0,0.0,0.25,1.0,0.0
3,S6005,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
4,S2239,0.0,0.5,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3420,S7011,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
3421,S10031,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
3422,S10031,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
3423,S6288,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
3424,S6288,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0

In [5]:
num_events = all_subjects.groupby(by="subject").size().reset_index().rename(columns={0:"num_events"})
all_subjects = all_subjects.merge(num_events,how="left").fillna(0)
all_subjects = all_subjects.merge(adv_events.groupby(by="subject").sum().reset_index(),how="left").fillna(0)
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,AERELNAV,AERELMK,AERELPI,AEHLUMB,AERELCOVID,AERELPAN,AERELATESP,AEHCMEDS,AESERIOUS
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
backmeds = open_prepare_df("All_Subjects_BACKMEDS_11Mar2025")
backmeds = backmeds[["subject","KEYMED"]]
med_vocab = list(map(str,list(range(8))))
backmeds_ = []
names = ["No med",
"Aricept",
"Cognex",
"Exelon",
"Namenda",
"Razadyne",
"Anti-depressant",
"Other med"]
remap = {str(i):names[i] for i in range(len(names))}
for i, row in backmeds.iterrows():
    data = {"subject":row["subject"]}
    for word in med_vocab:
        data[remap[word]] = int(word in str(row["KEYMED"]))
    backmeds_.append(data)
backmeds_=pd.DataFrame(backmeds_)
# backmeds_["Num_meds"] = backmeds_.drop(columns=["subject","No med"]).sum(axis=1)
backmeds_["Num_visits"] = 1
backmeds_ = backmeds_.groupby(by="subject").sum().reset_index()
for col in backmeds_:
    if col in ["subject", "Num_visits"]: continue
    backmeds_[col] /= backmeds_["Num_visits"]

all_subjects=all_subjects.merge(backmeds_.groupby(by="subject").sum().reset_index(),how="left").fillna(0)
all_subjects.loc[all_subjects["Num_visits"]==0, "No med"] = 1
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,AESERIOUS,No med,Aricept,Cognex,Exelon,Namenda,Razadyne,Anti-depressant,Other med,Num_visits
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
neuropath = open_prepare_df("All_Subjects_NEUROPATH_11Mar2025")
neuropath = neuropath[["subject","NPWBRWT","NPGRCCA","NPGRLA","NPGRHA","NPGRSNH","NPGRLCH","NPAVAS","NPTAN","NPABAN","NPASAN","NPTDPAN","NPHISMB","NPHISG","NPHISSS","NPHIST","NPHISO","NPTHAL","NPBRAAK","NPNEUR","NPADNC","NPDIFF","NPAMY","NPINF","NPHEMO","NPOLD","NPARTER","NPWMR","NPPATH","NPNEC","NPPATHO","NPLBOD","NPNLOSS","NPHIPSCL","NPTDPA","NPTDPB","NPTDPC","NPTDPD","NPTDPE","NPFTDTAU","NPPICK","NPPDXS"]]

A=set(neuropath["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))

# Due to the very limited amount of subjects who have been autopsied in our imaging data, we dont need to merge. not enough data.
# all_subjects=all_subjects.merge(neuropath,how="left")
# all_subjects

692 12 110 594

In [8]:
reccmed = pd.read_csv("Data/Individual level/Archived/All_Subjects_RECCMEDS_11Mar2025.csv", dtype="str")
reccmed["subject"] = reccmed["PTID"].str.split("_")
reccmed["subject"] = reccmed["subject"].str[1]+reccmed["subject"].str[2]

A=set(reccmed["subject"])
B=set(all_subjects["subject"])
# print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))

reccmed = reccmed[["subject","CMMED","CMFREQNC","CMREASON", "CMBGN","CMEND","update_stamp"]]
reccmed["CMMED"] = reccmed["CMMED"].str.lower().str.replace("-"," ")
for suffix in [" formula", " oil"," sltb"," la"]:
    reccmed["CMMED"] = reccmed["CMMED"].str.removesuffix(suffix)
for overwrite in ["aspirin","oxybutynin","calcium","garlic","omega 3","probiotic","lactase","acetyl","vitamin b","vitamin c","ascorbic acid",
                  "tylenol","glucosamine","multivitamin","triamter","elidel","nephrovite","ammonium lactate","acetaminophen"]:
    mask = reccmed["CMMED"].str.contains(overwrite).fillna(0).astype("bool")
    reccmed.loc[mask, "CMMED"] = overwrite
# reccmed = reccmed[~pd.isna(reccmed["CMMED"])]
vocab = set(reccmed["CMMED"])
print(len(vocab))
vocab

3442

{'xalantan',
 'memory essentials',
 'fluticasone',
 'robitussin',
 'mementine',
 'adalat',
 'magnesium 64 supplement',
 'liothyronine',
 'glyburide/metformin',
 'salbuterol',
 'neurontin',
 'ginko biloba plus tablet',
 'hydrocodone bitartrate',
 'ciprofloxacin',
 'estriol',
 'tonic water',
 'synthyroid',
 'sameterol disc inhaler',
 'gentamicin sulfate 0.3%',
 'similimilasan ear drops',
 'vit eyes',
 'linisopril',
 'omacor',
 'gravol',
 'cosopt[|194|][|174|] (dorzolamide hydrochloride timolol maleate) sterile ophthalmic solution',
 'oxtrol',
 'muitivitamin',
 'proflavenol',
 'uromax',
 'ceriva',
 'musinex',
 'actenol',
 'triamcinolone',
 'nortriptyline',
 'beconase',
 'diflunisal',
 'formotoral fumarate',
 'phoshatodylserine',
 'topomax',
 'testosterone gel',
 'xylocaine',
 'triamcinolone acetonide',
 'flonaz',
 'ayr saline nasal spray',
 'calcitriol',
 'emo cort cream 2.5%',
 'exforgen',
 'fennel',
 'kenalog',
 'theopylline',
 'glucovance',
 'duo neb',
 'estrace cream',
 'pms methyl phenidate',
 'xalatan 0.5%',
 'isordil',
 'adalat cc',
 'omega 3',
 'raloxifene',
 'ambien',
 'ketotifen .25%',
 'nitroglycerin pump spray',
 'trigosamine',
 'orthovisc',
 'morphine (long acting)',
 'valacyclovir',
 'nitrotab',
 'multiple vitamin',
 'elestat',
 'solaraze gel',
 'lyrica cv',
 'multiple vitamin tablet',
 'maximum prostate',
 'maximmune power',
 'premaril',
 'milk of magnesium capsule',
 'bupropion er',
 'chemotherapy   ruituxin',
 'high b complex',
 'arimedex',
 'testosterone',
 'uniretic',
 'hawthorne berries',
 'vytorin 10/20',
 'wellbutrinxl',
 'tramadol (hcl er)',
 'vitatmin b complex',
 'vitalzym x',
 'fresh frozen plasma',
 'azmacort',
 'non acidic vitamin',
 'detrol er',
 'toporol xl',
 'psorcon e cream',
 'hespan',
 'docusate sodium',
 'bay berri',
 'benadryl',
 'psyllium fibre',
 'sam e',
 'nifedipine er',
 'acetic acid',
 'eneblax',
 'dynacirc cr',
 'feldene',
 'cell forte with inositol',
 'gnc saw palmetto',
 'sulfectamide',
 'clobetasol 0.05%',
 'bisoprolol fumurate',
 'leovthyroxine',
 'allegra d',
 'consyl',
 'ambrotose',
 'prinvil',
 'dermazene',
 'tums ultra',
 'desyrel',
 'galantamine hydrobromide',
 'solifenacin',
 'multi vitamin for women (daily answer)',
 'hepatitis booster',
 'amolodipine',
 'megestrol',
 'luvox',
 'volteren',
 'levoquin',
 'htcz',
 'ultra zyme',
 'tiazec',
 'multiple vitamins',
 'zyloprim',
 'lactase',
 'neilmed sinus rinse kit',
 'fluvastatin sodium',
 'glyset',
 'metaprolol',
 'epidural steroid injection spine',
 'klor con',
 'vitamins b6 b12 e fa',
 'nitroquick',
 'isosorbid',
 'moexiptil (univasc)',
 'spectravite',
 'synvisc injection',
 'protonix',
 'linsinopril',
 'omnicef',
 "physicians' health study drug",
 'trimetryglycine',
 'benylin night time 12 hour cough syrup',
 'tessalon',
 'gorse',
 'glycopyrrolate',
 'lyrica',
 'silver sulfadiazine',
 'pro air albuterol',
 'testosterone cypionate',
 'azelastine hcl',
 'advair 250/50',
 'pravachol',
 'amitiza',
 'metoprolol er suc',
 'ventolin',
 'diliatezem',
 'valorin',
 'verapamil sr',
 'ginseng complex',
 'preoperative epidural',
 'estra noreth',
 'gold bond powder',
 'tenorman',
 'brimonidine tartrate 0.2%',
 'humira',
 'saline eye drops',
 'ultraglycem x',
 'kaiser brand mvi',
 'clobetasone propionate',
 'enalapril maleate',
 'provigil',
 'wal tussin',
 'calcitonin',
 'ester c',
 'percocet 5 mg/ 325 mg',
 'fexofenidine',
 'advil',
 'levoxyl',
 'spironolactone',
 'cortisone cream',
 'vitamin d2',
 'levoxyl (levothyroxine)',
 'hydralazine',
 'benazepril',
 'aciphex',
 'cinnamon supplement',
 'desitin',
 'lactobacillus',
 'enzymatic therapy 50 plus men',
 'arginine',
 'simvasatin',
 'depakote',
 'exforge',
 'aranesp',
 'nevanac',
 'zocar',
 'systane eye drops',
 'remeron',
 'excedrin migraine',
 'q gel plus',
 'lonox',
 'vitamin d 700',
 'depo testosterone',
 'coreg cr',
 'pituitrophin',
 'cvs senior vitamin',
 'maxide',
 'mvi without iron',
 'losartan potassium',
 'marginal relief',
 'ferrous sulfate cr',
 'advil es',
 'cheratussin ac syrup',
 'ortho dtx',
 'nystatin suspension',
 'enhanced natural prostate',
 'lisinopril//htcz',
 'flaxseed',
 'serevent diskus',
 'multi vitamin (centrum silver)',
 'ativan',
 'preservision',
 'vit d synergy',
 'azithronycin',
 'folic acid/ b12',
 'unknown antibiotic',
 'ondansetron hcl',
 'novo betahistine',
 'fosamax/d',
 'nasacort',
 'xifaxan',
 'optivar eye gtts',
 'dextrol',
 'dexchlorpheniramine',
 'icap',
 'ambien (generic)',
 'zinc',
 'inderal (timed release)',
 'isosorbide mn',
 'paxil cr',
 'multivitamin',
 'epidural shots',
 'k tabs',
 'acidophilus pills',
 'lovistatin',
 'fluticasone propionate',
 'isosorbide mononitrate',
 'atenelol',
 'benazepril hct',
 'florosemide',
 'metanx',
 'chlorthalidone tabs',
 'meclisine',
 'carbemazepine',
 'ginger root',
 'darvocet',
 'b complex/vitamin',
 'eye caps',
 'labetalol',
 'nettle leaf',
 'floradil inhaler',
 'magnesium w/zinc',
 'flexeril',
 'forward multimvitamins',
 'carisoprodol',
 'simvastin',
 'cozar',
 'humulin 7030',
 'carencil',
 'effexxor',
 'promethazine dm',
 'hydrocodone/apap',
 'apo clonidine',
 'muscle relaxants',
 'co enzyme q10',
 'naproxin na',
 'adrenogen',
 'b6 b12 folic acid',
 'interferon',
 'quinapril',
 'pseudoephedrine',
 'travacor',
 'digoxin',
 'enoxaparin (lovenox)',
 'abc plus senior',
 'liquid tears',
 'estropipate',
 'buproprion er',
 'azor',
 'vitamin d',
 'garlic',
 'super bio c',
 'muscle  rub extra strenght',
 'paroxetine hcl',
 'otc allergy medication',
 'levothyroxil',
 'long action insulin',
 'epa fish',
 'co enzyme q 10',
 'epa dpa liquid',
 'mulitvitamins',
 'balanced b 100 b complex vitamins',
 'urocitk',
 'vitimins',
 'senna tablets',
 'milk of magnesia',
 'lantus',
 'sentury   vite',
 'tramadoc',
 'bas preservision',
 'folgard',
 'caduet',
 'kenalog 40',
 'stool softner (otc)',
 'bisoprolol',
 'valproic acid',
 'aluminum hydroxide',
 'alphagan[|194|][|174|] p (brimonidine tartrate ophthalmic solution)',
 'erythromyan',
 'omega   3',
 'unisom',
 'generic ciproflaxin',
 'mag 85 chloride 256',
 'ginseng',
 'glargine insulin',
 'triple flex',
 'bupivicaine .5 %',
 'tussin dm',
 'vit b 12',
 'phenazopyridine hcl',
 'celecoxib',
 'eye formula with lutein (vitalux)',
 'calmag c',
 'diovan',
 'nitroglycerin patch',
 'nasonex nasal spray',
 'metoprolol er',
 'vigimox',
 'zolpidem',
 'glucotrol xl',
 "sturt's desert pea",
 'lotemax',
 'long acting nitro isosorbid',
 'ionto/dex',
 'spiriva handihaler',
 'uremol hc 1% lotion',
 'piroxicam',
 'preservision ocuvite',
 'chlorthalidone',
 'metroidonazole cream',
 'albuterol wipratropium',
 'omnaris nasal spray',
 'vitamin e d alpha',
 'magnesium 171 mg/zinc 13 mg',
 'organic sleep support',
 'procardia',
 'acular ls',
 'lanoxin',
 'amlodipine/benzapine',
 'immunotherapy',
 'dicyclomine',
 'omeprazone',
 'citrocal plus magnesium',
 'levothryroxine',
 'catapres patch',
 'b complex vitamins',
 'red yeast rice',
 'detrol rl',
 'ala',
 'sertaline hcl',
 'xanax',
 'spiriva',
 'ipratropium bromide nasal 0.6%',
 'zitia',
 'research trial med',
 'ditiazem hcl',
 'fever few',
 'green tea fat burner',
 'byetta',
 'arenesp',
 'h chlorothiazide',
 'melatonin er',
 'clobetasol proprionate',
 'restasis',
 'bactriban cream',
 'triam/hctz',
 'armour',
 'metronidazole 1% gel 30g tube',
 'ibuprofen',
 'phenylephrine hydrochloride',
 'calmoseptine',
 'vessel care',
 'epa',
 'equate vision formula mvi',
 'lidocaine',
 'l argine',
 'stool softener',
 'coq=10',
 'mitochondrial defense',
 'avopro',
 'krill',
 'sennosides',
 'apo doxy',
 'supartz jft',
 'mega antioxidant vitamins',
 'clorazepate (tranxene)',
 'qualaquin',
 'mycardiw/hztz',
 'super sciatica relief',
 'osteomax',
 'januvia',
 'beta carotene',
 'ipatropium bromide',
 'buproprion hcl',
 'plaquino',
 'razadyne',
 'lemon balm melissa',
 'levitra',
 'budaprion (wellbutrin)',
 'glucostrol xl',
 'pulmicort turbohaler',
 'verapramil',
 'saw palmetto',
 'advacor',
 'general anesthesia',
 'lecthin',
 'dexilant (dexlansoprazole)',
 'iron ferrous sulfate',
 'carvedilol',
 'diovan/ hct',
 'elocom 0.1%',
 'vesicare',
 'vasertic',
 'max dha 6',
 'cognitex',
 'hyoscyamine',
 'boniva',
 'mvi (centrum silver)',
 'metoporlol',
 'revistagmine',
 'doxycycle',
 'ocu vite mvt',
 'rituxan',
 'omeprazole',
 'enbrel',
 'dicloxacillen',
 'insinase',
 'stool softner',
 'ammonium lactate',
 'potassium',
 'allopurinol',
 'benazepril hcl',
 'supreme',
 'prednisone ac 1%',
 'zinc lozenges',
 'theanine',
 'methylcobalamin',
 'travotan .004%',
 'unknown bp medication',
 'beano',
 'mature multi vitamins & minerals',
 'quar',
 'kyo dophilis',
 'brain sustain',
 'lisinopril/hctz 20/12.5',
 'nasonex spray',
 'cefuroxime axetil',
 'hydromorphone',
 'xalatan 0.005 %',
 'atacand plus',
 'centrum silver 2000',
 'otc stool softener',
 'legatrin pm',
 'cpap',
 'aspercreme',
 'maxide 25',
 'zyanocobalamin',
 'epogen',
 'spectravite senior',
 'l arginine',
 'triamter',
 'omega 2 softgels',
 'amino acids',
 'oxycodone hcl',
 'hydrochlorothyazide',
 'amox clav',
 'lamotrigine',
 'questran light',
 'labetolol',
 'ps pill  (phosphatidylscholine)',
 'lumigan',
 'norvasc',
 'entex pse',
 'nitroglycerine drip',
 'centravite sr',
 'vicodin',
 'eye vitamin',
 'levenox',
 'claritan',
 'asaphen',
 'allegra (fexofenadine)',
 'penicillin v potassium',
 'aarp alphabet ii with lycopene',
 'diphenhydramine',
 'xibrum ophth soln. 0.09%',
 'telithromyacin',
 'vitamin e (high gamma)',
 'msm',
 'econopred',
 'ancef',
 'iv antibiotic (unknown)',
 'ginkoba',
 'beclomethasone dipropionate',
 'aricept',
 'pygeum',
 'provastatin',
 'cilostazol (pletal)',
 'flexoril',
 'mezclizine',
 'senokot',
 'flunisolide',
 'senior centrum',
 'mill flax seed',
 'tyenol',
 'quetiapine',
 'experimental drug for htn',
 'styance',
 'clonidine hcl',
 'b  complex',
 'dextromethorphan guaifenesin',
 'chromium',
 'ginko biloba',
 'cilostazol',
 'mity qondria',
 'clonezepam',
 'hydrocodone',
 'astelin nose spray',
 'vitamine c',
 'cromolyn opth',
 'black cohosh',
 'leviquin',
 'endocet',
 'amiodarone hcl',
 'imdur',
 'bonine',
 'lumigan oph',
 'l methylfolate',
 'tart cherry',
 'oscal w/d',
 'simvistatin',
 'antihistamine',
 'isosorb mono',
 'peptobismol',
 'gnc brand prostate',
 'ferrous sulphate',
 'prednisone acetate',
 'taztia xt',
 'galantamine (razadyne)',
 'septra',
 'asa ec',
 'wellbutrin sr',
 'hctz (hydrochlorothiazide)',
 'nizatidine',
 'vitamins b',
 'oxycodon/apap',
 'citracal fiber tablet',
 'hydrodiuriul',
 'b12 injection',
 'excedrin pm',
 'tobramycin',
 'refresh pm',
 'silica',
 'co q10 200',
 'lidocaine patch 5%',
 'fexofenadine',
 'ca 500d vitamin supplement',
 'certaline',
 'copper',
 'coq 10',
 'travoprost',
 'prilosec',
 'antivert',
 'cipro',
 'vit e.',
 'l lysine',
 'nifedinpine',
 'lipedil ez',
 'testim 1%',
 'total efa',
 'advicor',
 'juvenon',
 'librium',
 'atenol',
 'pamine',
 'adderall',
 'sleeping pill',
 'clarithromycin',
 'prostate vitamin',
 'amoxicillan',
 'fish oil (super dha)',
 'benical',
 'trihexyphenidyl',
 'allergen injections',
 'ismol',
 'multi vitamin',
 'a to z multiple vitamin',
 'doxycylcine',
 'nizoral',
 'halobetasol propionate',
 'isosorb m',
 'clorazepate',
 'prempro',
 'jarrow bone up',
 'vagifem',
 'tobradex 0.3%/0.1%',
 'ginko',
 'xalatan eye gtts',
 'konsyl natural fiber',
 'acetazolamide',
 'symbicort inhaler',
 'ps, phosphatidyserine and phospatidycholine',
 'papaverine',
 'vitamins with minerals',
 'benazepril whydrochlorothiazide',
 'coenzyme q',
 'b supreme',
 'dopamine',
 'enapril',
 'novalog',
 'bisoprolol hctz',
 'prednisolone',
 'epa/dha',
 'rabeprazole sodium',
 'evening primrose',
 'aerius',
 'omega fatty 3 acid',
 'quinine sulfate',
 '2 pack inhaler',
 'losartan (hyzaar)',
 'quinine (qualaquin)',
 'arixtra',
 'betoptic',
 'lecithin triple',
 'soy extract',
 'aggrenox capsules sa',
 'indocin',
 'isoprex',
 'droxidopa',
 'tintura de yodo',
 'cytomel',
 'ambien cr',
 'metoprolol',
 'loprox',
 'econopred+',
 'oxytrol',
 'remifemin',
 'volaren',
 'xalatan op',
 'fludrocortisone',
 'hawthorn extract',
 'bethamethasone',
 'tetanus diphtheria toxoid vaccine',
 'trimetoprim + sulfametoxazol',
 'nasonax',
 'liquid nitrogen',
 'micardis',
 'sulfasalazine',
 'timolol malate',
 'spiriva c pap machine',
 'sulfameth / trimethoprim',
 'cyclopentolate',
 'multi vitamin with licopene',
 'azithromycin',
 'finasteride',
 'imodium a d',
 'preser vision',
 'oxistat',
 'arthrotec',
 'hypromellose',
 'ipratropium, albuteral, budesonide',
 'metrogel .75%',
 'fiber caps',
 'vitamin d 3',
 'cozaar',
 'hyoscyamine er',
 'domperidone',
 'mometasone inhaler',
 'potassium glutinate',
 'omega three',
 'poly iron',
 'metoprplol',
 'folbic',
 'alpha lipoic acid',
 'timoptic xl',
 'metoprolol tartrate',
 'ropivacaine',
 'climera',
 'corricidin',
 'mag ox',
 'metformin hcl',
 'claritin d',
 'fish oil (600)',
 'multi vitamin senior complete',
 'pletal',
 'vitaminc',
 'cranberry',
 'starlix',
 'voltaren gel',
 'urea',
 'sucralfate',
 '29 essential vitamins',
 'robitussin with codeine',
 'magnesium chelate',
 'ezetimbe',
 'proair hfa',
 'viatmin c',
 'co enzyme q',
 'allopurinal',
 'nutralite',
 'zostrex',
 'miconozole nitrate',
 'nitropatch',
 'fish, borage, & flax',
 'medrol dose pack',
 'senekot',
 'fast work for joints',
 'phenobarbitol',
 'zomig',
 'cough syrup',
 'i cap',
 'lortab5/500',
 'requip',
 'allergy relief',
 'vivelle',
 'eztimibe',
 'clotrimazole 1%',
 'clobetasol',
 'centrum senior',
 'factive',
 'oxytrol patch',
 'zebeta',
 'joint flex cream',
 'singular',
 'novo gesic forte',
 'lantus inject',
 'cod liver',
 'butalbital (for florinal)',
 'volteran',
 'lidocaine and priolaine cream',
 'nifedical',
 'ranitidine hcl',
 'guaifenesin',
 'aggrenox',
 'hydrocortisone 1% cream',
 'pyridoxine',
 'flovent',
 'betoptics',
 'venotone',
 'patanol',
 'lutein & zeaxanthin',
 'methotrexate',
 'darvon',
 'gen minocycline',
 'clobetasol proprionate cream',
 'dipyridamole',
 'omega fish',
 'urxaparal',
 'lakota joint care formula topical rub',
 'steroid injections',
 'oxybutrin',
 'phosphoric acid',
 'doxepin',
 'herblax',
 'enalapril',
 'nettle root',
 'astelin nasal spray',
 'sulfamethoxazole',
 'spirolactone',
 'guaifensin',
 "one a day men's vitamin",
 'proair',
 'pramipexole dihydrochloride',
 'dyazide',
 'fluvoxamine',
 'vitamin e',
 'exelon patch',
 'vit b6',
 'nabumetone',
 'famciclovir',
 'costco 1 a day multi vitamin',
 'rogaine',
 'uroxatral',
 'sodium chloride',
 'think caps',
 'venelafaxine',
 'afrin',
 'synthoroid (generic)',
 'flurbiprofen',
 'multivits',
 'fortical',
 'amyrl',
 'clinoril',
 "women's one a day vitamin",
 'aspirn',
 'allegra',
 'codeine',
 'ciproflox',
 'phenytoin',
 'prostate health complex',
 'dha fish',
 'plavix',
 'pyridoxal 5 phosphate',
 'vit c',
 'mesalamine',
 'ropinirole',
 'beta carotine',
 'os cal',
 'cerafolin',
 'cinnamon',
 'dipyridimole',
 'gold bond extra strength body lotion',
 'unknown iv fluids',
 'lorazapam',
 'amitriptyline hcl',
 'pro gest body cream',
 'hydrocortisone cream 1%',
 'nadalol',
 'epival',
 'equate fiber therapy',
 'thyroxin',
 'albuterol',
 'sotalol',
 'colace',
 'epoetin alfa',
 'dramamine',
 'zofran',
 'quetiapine fumarate',
 'prinidone',
 'fluticasone nasal spray',
 'quinine water',
 'indapamide',
 'one a day vitamin',
 'i caps (arends formula)',
 'boron',
 'hydrochlorothiazide (hctz)',
 'pyridostigmine',
 'progesterone',
 'zanaflex',
 'ducolax',
 'daggerthaken',
 'viactive',
 'altase',
 '"sleep medication" otc',
 'ultracet',
 'amlodipine besylate',
 'xopenex',
 'aspririn',
 'h s fighters',
 'osteo bi flex   triple strength',
 'mega man dietary supplement',
 'flax seed',
 'co q10',
 'liptor',
 'reliv fibrestore',
 'oscal +d',
 'coversyl',
 'spectazole',
 'gingko biloba',
 'oral chelation',
 'hep a,b vaccine',
 'clonzepam',
 'hydorcodone',
 'iso d3',
 'super gla',
 'accuzyme',
 'prednison',
 'vytorin',
 'forteo sc',
 'estroven tabs',
 'nephrovite',
 'bcq',
 'cholest off',
 'atacand/hctz',
 'micro k extentabs',
 'hydroxydine',
 'areds preservision',
 'macular bilberry extract',
 'pravastatin sodium',
 'thyroid',
 'polytrim',
 'blazing star',
 'terazosin',
 ' 4',
 'celebrex',
 'novamoxin',
 'omnipred 1%',
 'k dur',
 'focus factor',
 'ceftin',
 'thorazine',
 'vitamine e',
 'heparim',
 'silver centrum',
 'timolol 2%',
 'axid',
 'natural cholesterol lowering supplement',
 'proctozone',
 'align cap',
 'amoxicilin',
 'fluticasone propinate',
 'iron sulfate',
 'gentamycin',
 'metformin er',
 'cetirizine',
 'asa baby asprin',
 'bentyl',
 'nabunetone',
 'lemon balm (melissa officinalis)',
 'atenolol/chlorthal 50/25',
 'doxylamine',
 'hydroxyzine hcl',
 'cortizone',
 'centrum a to zinc',
 'decaffeinated greentea',
 'omacor  fish',
 'inj b 12',
 'vit b1',
 'cheratussin',
 'ocuvite extra',
 'lisinoprol',
 'levocarnitine',
 'typhoid vaccine',
 'methrotrexate',
 'acrobid',
 'valium',
 'halfprin',
 'dha',
 'efudex',
 'biaxin xl',
 'ducosate sodium',
 'silymarin milk thistle',
 'ocular eye drops',
 'divoan',
 'bactrim ds',
 'flackseed oit',
 'caduet 5/10',
 'anzamet',
 'osteo biflex',
 'methylphenidate',
 'monopril',
 '"juice plus"',
 'diclofenac sod',
 'metfomin',
 'i   vit',
 'pantothenic acid',
 'alendronate sodium usp',
 'ic cyclobenzaprine',
 'renedil',
 'sprionolactone',
 'msm (methyl sulfonyl methane)',
 'quinine',
 'claritin',
 'vinpocetine',
 'carbatrol (tegretol)',
 'perservision',
 'ciclopirox olamine cream',
 'fluocinolone acetonide',
 'refresh plus',
 'vision formula with lutein',
 'liquid magnesium',
 'fish body oil 1000',
 'hctz',
 'aldara',
 'protamine',
 'rash cream',
 'clobetasol propionate',
 'remenyl',
 'mulitvitamin',
 'antidepressant',
 'mg carbonate',
 'phosphatidylserine',
 'bcomplex',
 'tylenol',
 'miconazole nitrate',
 'fiber con',
 'advil pm',
 'tumeric',
 'prevacid solutab',
 'sr. vitamin with lycosene',
 'lozol',
 'triazide',
 ...}

In [9]:
common_meds_vocab = reccmed["CMMED"].value_counts().head(30).keys().values

one_hot_df = pd.get_dummies(reccmed["CMMED"])[common_meds_vocab].astype("int")
one_hot_df.columns = ["med_"+col for col in one_hot_df.columns]
one_hot_df.rename(columns={"med_ 4":"med_unknown"},inplace=True)

reccmed_ = pd.concat([reccmed[["subject","CMREASON","CMFREQNC"]], one_hot_df], axis=1)
reccmed_

,subject,CMREASON,CMFREQNC,med_unknown,med_aspirin,med_multivitamin,med_calcium,med_aricept,med_namenda,med_fish,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
0,S0002,NaN,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72563,S10586,3,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72564,S10586,3,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72565,S10586,2,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72566,S10586,2,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72567,S10586,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
groups = reccmed_.drop(columns=["CMFREQNC","CMREASON"]).groupby(by="subject")
all_meds_hist = groups.mean()
all_meds_hist

,med_unknown,med_aspirin,med_multivitamin,med_calcium,med_aricept,med_namenda,med_fish,med_vitamin b,med_vitamin c,med_vitamin d,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
subject,,,,,,,,,,,,,,,,,,,,,
S0002,0.300000,0.100000,0.033333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.066667,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0003,0.111111,0.055556,0.055556,0.000000,0.000000,0.277778,0.000000,0.0,0.055556,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0004,0.043478,0.000000,0.000000,0.000000,0.043478,0.000000,0.043478,0.0,0.043478,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0005,0.095238,0.000000,0.000000,0.047619,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.047619,0.0,0.0,0.0
S0006,0.210526,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.052632,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S7122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7126,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0

In [11]:
all_subjects = all_subjects.merge(all_meds_hist.reset_index(),how="left")
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.076923,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0

In [12]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("FAMHXSIB_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject","SIBDEMENT"]]
siblings["Num_siblings"] = 1
siblings = siblings.groupby(by="subject").sum()
siblings["SIBDEMENT"] /= siblings["Num_siblings"]
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
naive_dementia_rate = 0.001 # siblings["SIBDEMENT"].mean()
all_subjects.loc[pd.isna(all_subjects["SIBDEMENT"]), "SIBDEMENT"] = naive_dementia_rate
all_subjects = all_subjects.fillna(siblings["Num_siblings"].median()) # Num_siblings unknown set to zero
all_subjects

1836 402 1644 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax,SIBDEMENT,Num_siblings
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.076923,0.0,0.0,0.0,0.001,3.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0,0.001,3.0

In [13]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("FAMHXPAR_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject","MOTHDEM","FATHDEM","MOTHAGE","FATHAGE"]]
siblings = siblings.groupby(by="subject").mean()
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects["MOTHDEM"] = all_subjects["MOTHDEM"].fillna(siblings["MOTHDEM"].mean())
all_subjects["FATHDEM"] = all_subjects["FATHDEM"].fillna(siblings["FATHDEM"].mean())
all_subjects

1914 421 1741 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_omega 3,med_metformin,med_prednisone,med_flomax,SIBDEMENT,Num_siblings,MOTHDEM,FATHDEM,MOTHAGE,FATHAGE
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,1.00000,0.000000,94.0,69.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,0.00000,1.000000,81.0,82.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,0.00000,1.000000,81.0,82.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,1.00000,0.000000,94.0,52.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,1.00000,0.000000,94.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.076923,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN

In [14]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("PHYSICAL_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("PX")]]
siblings = siblings.groupby(by="subject").mean()

all_subjects = all_subjects.merge(siblings,on="subject",how="left")
# all_subjects = all_subjects.fillna(1) # In case we have missing values, 1 represents a "normal" case.
all_subjects

4043 594 4043 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PXHEART,PXABDOM,PXEXTREM,PXEDEMA,PXPERIPH,PXSKIN,PXMUSCUL,PXBACK,PXOTHER,PXABNORM
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,NaN,1.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.5,1.0,1.0,1.0,1.0,1.5,1.5,1.0,1.0,1.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.5,1.0,1.0,1.0,1.0,1.5,1.5,1.0,1.0,1.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,2.0,1.5,2.0,1.5,1.0,1.0,1.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,2.0,1.5,2.0,1.5,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,1.0,1.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0

In [15]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("PTDEMOG_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
exclude = ["PTID","PTDOB","PTASIAN","PTADBEG","PTIDENT","PTORIENT","PTENGSPK","PTETHCATH","PTWORK","PTWORKHS","PTOPI","PTBIRPL","PTIMMAGE","PTIMMWHY","PTORIENTOT","PTENGSPKAGE","PTSPTIM","PTSPOTTIM","PTBORN","PTBIRPR","PTBIRGR"]
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("PT")and c not in exclude and "LANG" not in c]]
# siblings = siblings.astype("float")
siblings["PTRACCAT"] = siblings["PTRACCAT"].str.split("|").str[0].astype("float")
siblings = siblings.groupby(by="subject").mean()
# siblings
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects = all_subjects.fillna(1) # In case we have missing values, 1 represents a "normal" case.
all_subjects

4668 594 4668 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PTHAND,PTMARRY,PTEDUCAT,PTNOTRT,PTRTYR,PTHOME,PTCOGBEG,PTADDX,PTETHCAT,PTRACCAT
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,1.0,2.0,20.0,1.0,2005.0,5.5,9999.0,9999.0,2.0,5.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,18.0,0.0,1.0,1.0,9999.0,9999.0,2.0,5.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,18.0,0.0,1.0,1.0,9999.0,9999.0,2.0,5.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2007.0,5.5,9999.0,9999.0,2.0,5.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2007.0,5.5,9999.0,9999.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2005.0,1.0,1.0,1.0,2.0,5.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,1984.0,2.0,1.0,1.0,2.0,5.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,3.0,12.0,1.0,2005.0,1.0,1.0,1.0,2.0,5.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,14.0,0.0,1.0,6.0,1.0,1.0,2.0,5.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,1984.0,2.0,1.0,1.0,2.0,5.0

In [25]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("VITALS_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
exclude = ["VSHGTSC","VSTMPSRC"]
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("VS")and c not in exclude]]
siblings.loc[siblings["VSWTUNIT"]==1, "VSWEIGHT"] *= 0.45359237 # pounds
siblings.loc[siblings["VSHTUNIT"]==1, "VSHEIGHT"] *= 2.54 # inches
siblings.loc[siblings["VSTMPUNT"]==1, "VSTEMP"] = (siblings.loc[siblings["VSTMPUNT"]==1, "VSTEMP"] - 32) / 1.8 # fahrenheight
siblings = siblings.drop(columns=[c for c in siblings.columns if "UN" in c])
siblings = siblings.groupby(by="subject").mean()
# siblings
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects

4140 594 4140 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PTADDX,PTETHCAT,PTRACCAT,VSWEIGHT,VSHEIGHT,VSBPSYS,VSBPDIA,VSPULSE,VSRESP,VSTEMP
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,76.611751,167.000000,137.750000,70.250000,68.75,18.250000,36.819444
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,90.869671,172.000000,149.000000,69.666667,58.00,18.666667,25.062963
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,90.869671,172.000000,149.000000,69.666667,58.00,18.666667,25.062963
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,58.096111,158.000000,114.200000,64.800000,70.40,17.600000,29.855556
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,58.096111,158.000000,114.200000,64.800000,70.40,17.600000,29.855556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,84.096025,32.360000,135.400000,84.400000,66.80,17.200000,36.233333
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,71.050709,31.852000,158.600000,75.600000,51.80,19.600000,35.566667
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,50.711627,23.336667,135.666667,67.500000,69.00,17.666667,36.333333
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,65.625744,29.566000,127.800000,67.800000,68.40,19.200000,36.120000
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,71.050709,31.852000,158.600000,75.600000,51.80,19.600000,35.566667

In [26]:
all_subjects.to_csv("Data/subjects.csv")
# all_subjects = pd.read_csv("Data/subjects.csv").drop(columns="Unnamed: 0")
# all_subjects