In [1]:
import pandas as pd
from glob import glob
import numpy as np
from tqdm import tqdm

In [2]:
# groups = {}
# for group in tqdm(["CN","MCI","AD"],"Opening faster"):
#     groups[group]=np.load(open(f"Data/{group}.npy","br"))
#     print(len(groups[group]))

In [3]:
all_subjects = []
all_images = []
# patient_groups = {}
for group in ["CN","MCI","AD"]:
    files = glob(f"Data/Pre-processed/{group}/*.nii.gz")
    # with open(f"Data/{group}.npy","br") as f:
        # images = np.load(f)
    # assert len(files) == len(images) # Make sure we're not smoked
    # all_images.extend(images)
    # patient_groups[group] = patients, images
    'Data/Pre-processed/CN\\1000_sub-ADNI941S6546_ses-M048_T1w2_norm.nii.gz'
    def extract_sub(fp):
        sub = fp[fp.index("S"):]
        return sub[:sub[3:].index("_")+3].replace("_","")
    subjects = [extract_sub(fp) for fp in files]
    all_subjects.extend(subjects)

# all_images = np.stack(all_images)
# print(all_images.shape)

all_subjects = pd.DataFrame(all_subjects, columns=["subject"])
all_subjects.reset_index(inplace=True)
all_subjects.rename(columns={"index":"imageid"},inplace=True)

all_subjects["Group"] = 0
all_subjects.loc[1326:1326+461,"Group"] = 1
all_subjects.loc[1326+461:1326+461+213,"Group"] = 2

all_subjects

      imageid subject  Group
0           0   S6546      0
1           1   S6570      0
2           2   S6570      0
3           3   S6574      0
4           4   S6574      0
...       ...     ...    ...
1995     1995   S0300      2
1996     1996   S0916      2
1997     1997   S1262      2
1998     1998   S0404      2
1999     1999   S0916      2

[2000 rows x 3 columns]

In [4]:
def open_prepare_df(name="All_Subjects_RECCMEDS_11Mar2025"):
    try:
        df = pd.read_csv(f"Data/Individual level/{name}.csv")
    except Exception as e:
        if "Archived" in name: raise e 
        return open_prepare_df("Archived/"+name)
    df["subject"] = df["PTID"].str.split("_")
    df["subject"] = df["subject"].str[1] + df["subject"].str[2]
    return df

adverse_events = open_prepare_df("All_Subjects_ADVERSE_11Mar2025")

A=set(adverse_events["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
adv_events = adverse_events[["subject","AERELAD","AERELCM","AERELFLRBTBN","AERELFLRBPR","AEHIMG","AERELTAU","AERELNAV","AERELMK","AERELPI","AEHLUMB","AERELCOVID","AERELPAN","AERELATESP","AEHCMEDS","AESERIOUS"]].fillna(0)
for col in adv_events:
    if col =="subject": continue
    col_ = adv_events[col]
    adv_events[col] = col_.astype("float")
    adv_events.loc[col_ > 0, col] = (5 - col_) / 4.
adv_events

1120 378 904 594

,subject,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,AERELNAV,AERELMK,AERELPI,AEHLUMB,AERELCOVID,AERELPAN,AERELATESP,AEHCMEDS,AESERIOUS
0,S2245,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,1.00,0.0,0.0,0.00,1.0,0.0
1,S6041,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.50,0.0,0.0,0.00,0.0,0.0
2,S6053,0.0,0.0,0.0,0.25,0.25,0.25,0.0,0.0,0.0,0.75,0.0,0.0,0.25,1.0,0.0
3,S6005,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
4,S2239,0.0,0.5,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3420,S7011,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
3421,S10031,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
3422,S10031,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0
3423,S6288,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,1.0,0.0
3424,S6288,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0

In [5]:
num_events = all_subjects.groupby(by="subject").size().reset_index().rename(columns={0:"num_events"})
all_subjects = all_subjects.merge(num_events,how="left").fillna(0)
all_subjects = all_subjects.merge(adv_events.groupby(by="subject").sum().reset_index(),how="left").fillna(0)
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,AERELNAV,AERELMK,AERELPI,AEHLUMB,AERELCOVID,AERELPAN,AERELATESP,AEHCMEDS,AESERIOUS
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
backmeds = open_prepare_df("All_Subjects_BACKMEDS_11Mar2025")
backmeds = backmeds[["subject","KEYMED"]]
med_vocab = list(map(str,list(range(8))))
backmeds_ = []
names = ["No med",
"Aricept",
"Cognex",
"Exelon",
"Namenda",
"Razadyne",
"Anti-depressant",
"Other med"]
remap = {str(i):names[i] for i in range(len(names))}
for i, row in backmeds.iterrows():
    data = {"subject":row["subject"]}
    for word in med_vocab:
        data[remap[word]] = int(word in str(row["KEYMED"]))
    backmeds_.append(data)
backmeds_=pd.DataFrame(backmeds_)
# backmeds_["Num_meds"] = backmeds_.drop(columns=["subject","No med"]).sum(axis=1)
backmeds_["Num_visits"] = 1
backmeds_ = backmeds_.groupby(by="subject").sum().reset_index()
for col in backmeds_:
    if col in ["subject", "Num_visits"]: continue
    backmeds_[col] /= backmeds_["Num_visits"]

all_subjects=all_subjects.merge(backmeds_.groupby(by="subject").sum().reset_index(),how="left").fillna(0)
all_subjects.loc[all_subjects["Num_visits"]==0, "No med"] = 1
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,AESERIOUS,No med,Aricept,Cognex,Exelon,Namenda,Razadyne,Anti-depressant,Other med,Num_visits
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
neuropath = open_prepare_df("All_Subjects_NEUROPATH_11Mar2025")
neuropath = neuropath[["subject","NPWBRWT","NPGRCCA","NPGRLA","NPGRHA","NPGRSNH","NPGRLCH","NPAVAS","NPTAN","NPABAN","NPASAN","NPTDPAN","NPHISMB","NPHISG","NPHISSS","NPHIST","NPHISO","NPTHAL","NPBRAAK","NPNEUR","NPADNC","NPDIFF","NPAMY","NPINF","NPHEMO","NPOLD","NPARTER","NPWMR","NPPATH","NPNEC","NPPATHO","NPLBOD","NPNLOSS","NPHIPSCL","NPTDPA","NPTDPB","NPTDPC","NPTDPD","NPTDPE","NPFTDTAU","NPPICK","NPPDXS"]]

A=set(neuropath["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))

# Due to the very limited amount of subjects who have been autopsied in our imaging data, we dont need to merge. not enough data.
# all_subjects=all_subjects.merge(neuropath,how="left")
# all_subjects

692 12 110 594

In [8]:
reccmed = pd.read_csv("Data/Individual level/Archived/All_Subjects_RECCMEDS_11Mar2025.csv", dtype="str")
reccmed["subject"] = reccmed["PTID"].str.split("_")
reccmed["subject"] = reccmed["subject"].str[1]+reccmed["subject"].str[2]

A=set(reccmed["subject"])
B=set(all_subjects["subject"])
# print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))

reccmed = reccmed[["subject","CMMED","CMFREQNC","CMREASON", "CMBGN","CMEND","update_stamp"]]
reccmed["CMMED"] = reccmed["CMMED"].str.lower().str.replace("-"," ")
for suffix in [" formula", " oil"," sltb"," la"]:
    reccmed["CMMED"] = reccmed["CMMED"].str.removesuffix(suffix)
for overwrite in ["aspirin","oxybutynin","calcium","garlic","omega 3","probiotic","lactase","acetyl","vitamin b","vitamin c","ascorbic acid",
                  "tylenol","glucosamine","multivitamin","triamter","elidel","nephrovite","ammonium lactate","acetaminophen"]:
    mask = reccmed["CMMED"].str.contains(overwrite).fillna(0).astype("bool")
    reccmed.loc[mask, "CMMED"] = overwrite
# reccmed = reccmed[~pd.isna(reccmed["CMMED"])]
vocab = set(reccmed["CMMED"])
print(len(vocab))
vocab

3442

{'vitamin d (with d3)',
 'betoptics',
 'advil pm',
 'chondroitin',
 'teviaz',
 'oxycotin',
 'long acting nitro isosorbid',
 'santura',
 'lisinoprol',
 'chinese mushroom extract',
 'muitivitamin',
 'ambien (generic)',
 'amiodarone',
 'metolprolol',
 'cosopt ocumeter plus eye drops',
 'metrogel .75%',
 'glucosa\\omine/chondroitin',
 "women's ultra mega 50+ supplement",
 'apo doxy',
 'cough medicine',
 'exelon parch',
 'super gla',
 'aldara',
 "women's ultramega vitamins",
 'magnesium 500 mg/zinc 30 mg',
 '50 plus vitamin',
 'fomoterol inhaler',
 'green tea fat burner',
 'diovan 80mg/hctz 12.5mg',
 'clonzepam',
 'plaquenil',
 'zocor',
 'losarten',
 'equate vision formula mvi',
 'ancef',
 'diovan',
 'ambian tabs',
 'cenestin',
 'allergy shots',
 'minoxidil',
 'benylin1 extra strength',
 'fibercon',
 'metapropol',
 'ginkgo biloba',
 'restasis 0.05%',
 'multiple vitamins',
 'halfprin',
 'berry vision',
 'occuvite',
 'inositol',
 'pepto bismol',
 'mycardia/hctz',
 'metoprolol er',
 'gabbapentin',
 'mulitvitamin',
 'ex lax',
 'chromagen',
 'buproprion sr',
 'cephalfrin',
 'dimethylglycine',
 'nitroglycerin',
 'corticosteroid cream',
 'vitamine d',
 'cingulair',
 'dicloxacillin',
 'tamsulosin hcl',
 'tumeric',
 'co q',
 'clobetasol propionate ointment',
 'total green',
 'bromocriptine',
 'tramadol hcl',
 'loperamide hydrochloride',
 'topicort',
 "hyland's leg cramps with quinine",
 'misoprostol',
 'nitro glycerine (ntg)',
 'herbal laxative',
 'flonaise',
 'vitamin a & d',
 'librium',
 'slow fe',
 'reliv classic',
 'carisoprodol',
 'lortab',
 'aerobid',
 'bimatoprost',
 'pico salax',
 'indomethacin, er',
 'vegetable powder',
 'benazepril whydrochlorothiazide',
 'rapiflow',
 'fluocinolone (topical)',
 'pulmozyme',
 'detral',
 'phosphatidyl',
 'cranberry capsule',
 'iron supplements',
 'phillips milk of magnesia',
 'multi vits',
 'equate vision',
 'flovent hfa',
 'eye formula with lutein (vitalux)',
 'targretin',
 'ic losartan potassium',
 'serevent diskus',
 'uremol hc 1% lotion',
 'one a day vitamin',
 'phentermine',
 'omega fish',
 'avelox',
 'dynacirc',
 'timoptic xl',
 'dss',
 'hytrin',
 'enoxaparin',
 'bone up',
 'travitan',
 'lumigan[|194|][|174|] (bimatoprost ophthalmic solution) 0.03%',
 'uroxatral',
 'toprol',
 'previcid',
 'respiradone',
 'lipoic acid',
 'terazozin',
 'marginal relief',
 'ominaris',
 'acetyl',
 'isoxsuprine',
 'rantidine hcl',
 'docusate sodium (colace)',
 'eye caps',
 'vitamin d 50000 nt',
 'total energy',
 'senokot s',
 'buproprion er',
 'dipyridamole',
 'omeprazol',
 'steroid injection',
 'mirtazapine',
 'lycopene',
 'antibiotics',
 'estratest hs',
 'excedrine',
 'altace',
 'same',
 'juice plus',
 'benical',
 'topamax',
 'dmsa',
 'mvi with beta carotene',
 'cardura',
 'tripple omega fish 3 6 9',
 'metoprplol',
 'omeprazole',
 'ayr saline nasal spray',
 'topical antibiotic',
 'azilect',
 'methotrexate',
 'excedrin migraine',
 'pen vk',
 'prochlorperazine',
 'guaifenesin',
 'flonase spray',
 'midodrine',
 'zithromax pack (z pack)',
 'provacol',
 'prosta chi',
 'proflavenol',
 'amitryptiline',
 'xalatan 0.5%',
 'activella',
 'lubriderm',
 'polymyxin b tmp',
 'albuterol wipratropium',
 'rocaltrol',
 'diazepan',
 'diphenhydramine',
 'albuterol/ipratrop inhaler',
 'mirtazapine tablet',
 'glipizide er',
 'uroxetral',
 'steroid injections',
 'didrocal kit',
 'oxymetazoline gel .05%',
 'oxazepam',
 'doxycylcine',
 'dipyridimole',
 'atacand/hctz',
 'flunisolide nasal spray 0.025%',
 'ketorolac tromethamine',
 'avandamet',
 'vit b 12',
 'butalbital/apap/caffeine',
 'lithium',
 'mycostatin',
 'macrobid',
 "dr. sinatra's cholesterol solutions",
 'caduet 5/10',
 'nettle root',
 'fortical (miacalcin)',
 'calicum',
 'multivitamis',
 'simvastatin (lipitor)',
 'viatmin c',
 'ciprofloxacin hcl',
 'betamethasone dipronate .05%',
 'tenormin',
 'ziac',
 'hisinex hc syrup',
 'one a day',
 'accuzyme',
 'cruciferous vegetable extract',
 'chelated zinc',
 'cartia xt',
 'stool softner',
 'diclofenac 0.01%',
 'iron',
 'revistagmine',
 'creatine',
 'vivelle',
 'citrocel',
 'b12',
 'haloperidol',
 'methyl prednisolone',
 'feosol iron',
 'salmon oil and fish',
 'multiflower',
 'dmg',
 'eucerin',
 'ester c',
 'flak seed',
 'fluvoxamine',
 'vital h   a max',
 'gold bond extra strength body lotion',
 'levsin',
 'cozaar',
 'b 100 complex',
 'lethicin',
 'triboron plus',
 'l   carnosine',
 'lutein extra strength with zeaxanthin',
 'doxycycle',
 'b vitamins',
 'darvocet n',
 'xalatan eye gtts',
 'meclinizine',
 'gnc brand prostate',
 'santly/bacitracin ointment',
 'omnipred 1%',
 'ebv',
 'imdur',
 'multiple vitamin tablet',
 'foltx (b 12)',
 'biotin',
 'vit eyes',
 'steroid shot',
 'cholest off',
 'fosinopril sodium',
 'propanolol',
 'viactiv',
 'b12 supplement',
 'celphalexin',
 'silica gel',
 'bayberri',
 'epidural steroid injection',
 'advair 250/50',
 'theragran',
 'floradil inhaler',
 'enalapril maleate',
 'ultram',
 'hypromellose',
 'mineral',
 'afterbite',
 'rantidine',
 'ocuvite extra',
 'erythromycin opthamalic ointment',
 'famciclovir',
 'zymar',
 'pms citalporam',
 'norco',
 'icap',
 'ensure',
 'cilostazol',
 'diclofenac sodium solution 1.5%',
 'elocom 0.1 % cream',
 'pressure vision vitamins',
 'mulitvitamins',
 'acidolpheus',
 'hydorcodone',
 'synvisc',
 'carlson memory',
 'pantoprazole',
 'prevpac',
 'insulin nph',
 'mucinex dm',
 'toporol',
 'nitraplex',
 'triamcinolone',
 'effexxor',
 'xango',
 'carnitine tartrate',
 'preservision',
 'l glutamine',
 'zocor/simvastatin',
 'zostravax',
 'promethazine',
 'msm (methyl sulfonyl methane)',
 'miacalcin',
 'trigosamine',
 'lipitor',
 'nasacort',
 'levothyroxine na',
 'arginine',
 'hyalgin',
 'atacand plus',
 'predisone eye drops',
 'itraconazole',
 'premia 5',
 'neuro replete',
 'gentamycin',
 'citalopram hydrobromide',
 'diltiazem',
 'hydrocodone/atat',
 'pulmicort turbohaler',
 'desonide cream',
 'nomenda',
 'beconase',
 'lopid',
 'volteran',
 'glucosamin chondroitin',
 'brimonidine tartrate 0.2%',
 'vegetable capsule supplement',
 'occurite',
 'cq 10',
 'mity qondria',
 'e 200 with silenium',
 'epa fish',
 'atropine',
 'procardia',
 'topirimate',
 'coq10',
 'med pass supplement',
 'fergon',
 'phospho soda',
 'levobunolol',
 'mvi senior',
 'aciphex',
 'rash cream',
 'centrum snior',
 'epi ez pen solution',
 'ultra omega   9',
 'prednisone eye drops',
 'zovirax',
 'magnesium 171 mg/zinc 13 mg',
 'magic mouth wash',
 'zolpidem',
 'ketoconazole cream',
 'baclofen',
 'lantus',
 'budesonide',
 'cortisone ung',
 'exelon patch',
 'travatan .004%',
 'toporol xl',
 'phosphline iodine',
 'premarin',
 'soy isoflavone/ipriflavone',
 'sanctura',
 'l5 etrypine',
 'travoprost',
 'ginko biloba plus tablet',
 'abs sr. plus',
 'uromax',
 'toriaz',
 'vitamin k12',
 'cotridin cough syrup',
 'benedryl',
 'amlopipine',
 'denavir',
 'co q10',
 'premarin vaginal cream',
 'quinine (qualaquin)',
 'cephalexin',
 'hydrocortisone',
 'losartin',
 'enoxaparin (lovenox)',
 'bioflex',
 'desoximetasone',
 'senokot',
 'co enzyme 210',
 'refresh tear drops',
 'cognitex with pregnolone',
 'carvedilol',
 'predforte 1%',
 'minchex',
 'promethazine dm',
 'lueitin',
 'isosordide',
 'clorazepate',
 'lisonopril',
 'lidocaine',
 'paroxetine',
 'bisoprolol fumurate',
 'lorazepam',
 'zaroxolyn',
 'lovistatin',
 'lecithin triple',
 'levenox',
 'systane eye drops',
 'cranberry extract',
 'mavik',
 'mega silymarin',
 'multiviamin',
 'ezetrol',
 'ginkgo bilboba',
 'xifaxan',
 'brimonidine tartate',
 'pepcid ac',
 'b6',
 'nitro spray',
 'lotemax',
 'ginger',
 'co enzyme q10',
 'ezetimbe',
 'aranasp',
 'nifediac',
 'guaifensin',
 'phyt. aloe',
 'mvi',
 'clobetasol propionate',
 'l argine',
 'phosphatydil serine',
 'spiriva c pap machine',
 'alprazalam',
 'capryl',
 'prinivil',
 'vivelle dot',
 'lecitin',
 'atacand hct',
 'chromium picolinate',
 'bromo seltzer cold',
 'nydralazine',
 'vicodin',
 'trandolapril',
 'cetirizine',
 'stool softener (otc)',
 'vitamin d 700',
 'lisinipril',
 'zestorestic',
 'oxcarbazepine',
 'volteren',
 'k dur',
 'fenesin',
 'metronidazole 1% gel 30g tube',
 'fluzone',
 'spectra vitamin',
 'dyazide',
 'spririva',
 'hs fighters',
 'hctz (hydrochlorothiazide)',
 'omnicef',
 'zonegran',
 'calcuim with vitamin d',
 'ecasa',
 'lyrica',
 'citracal + d',
 'lamictal',
 'dribrolax [laxative]',
 'neosporin',
 'mvi (one a day)',
 'memory support   vitamin shoppe',
 'gabapentin (neurontin)',
 'ciclopirox',
 'lunestra',
 'xalatan 0.005%',
 'masonex',
 'micronase',
 'liptor',
 'finesteride',
 'testim testosterone',
 'gnc ester c 1000',
 'avopro',
 'donepezil hcl',
 'gabapentin',
 'encocort ec',
 'nasalcrom',
 'novolog insulin',
 'papaya',
 'resveratrol complex',
 'iv fluids',
 'c',
 'vanicream',
 'klonopin',
 'acidophilus pills',
 'moexipril',
 'topomax',
 'polysporin ointment',
 'restoril',
 'cetaphil',
 'amoxil',
 'preser vision ( vit a,c,e)',
 'aricept',
 'vitamin a+d',
 'cod liver',
 'advair 100/50',
 'azor',
 'enzymatic therapy 50 plus men',
 'foltx',
 'silymarin 80',
 'lipedil ez',
 'combivent',
 'pepsid ac',
 'traimterene/hctz (17.5mg / 25mg)',
 'amiloride',
 'occupress',
 'carlson super dha',
 'tegretol',
 'vitamin b',
 'gas ex',
 'tonic water',
 'alendronate sodium',
 'fesol',
 'botox',
 'phenylbutazone',
 'propranolol',
 'amlod/benaze',
 'indomethacine',
 'ginkgold',
 'allopurinol',
 'cinnamon supplement',
 'phototherapy',
 'lantus inject',
 'testoscypn',
 'tobradex',
 'multi vitamin',
 'sulfa',
 'centrum',
 'arjuna (cardiac tonic)',
 'lactaid',
 'zithromax',
 'singulair',
 'restasis',
 'betamethasone',
 'benadryl allergy',
 'cosopt eye drops',
 'ditiazem hcl',
 'finofibrate (tricor)',
 'plendil',
 'lumigan oph',
 'red yeast',
 'mature multi vitamins & minerals',
 'antifungal cream',
 'combigan',
 'prednisone acetate',
 'super b complex',
 'benefiber',
 'vesicare',
 'papaya enzyme',
 nan,
 'zebeta',
 'aceon',
 'fosamax plus d',
 'occuvite lutein',
 'nifedical',
 'metformin hydrochloride',
 'iron sulphate',
 'bayer',
 'cortizone',
 'atorvastatin',
 'ocutabs with lutein',
 'benacar/hctz',
 'enalapril/hydrochlorothiazide',
 'lisinopril/hydrochlorthiazide',
 'doxylamine succinate',
 'human chorionic gonadotrophin  hcg',
 'pravastatin',
 'metoprolol succinate',
 'glycolax',
 'ultra preventative mvi',
 'dovonex cream',
 'ic levothyroxine',
 'casodex',
 'eye drops   unk',
 'fiber tablets',
 'levonox',
 'taztia',
 'leovthyroxine',
 'soya lecithin',
 'caltrate',
 'maximmune power',
 'cranberry fruit',
 'pulmicort',
 'sinemet',
 'didrocal',
 'visionex',
 'rivastigmine',
 'bupivacine 2%',
 'dalteparin',
 'darvocet',
 'zylet',
 'catapress tts',
 'lamasil',
 'tev tropin[|194|][|174|]',
 'clopidogrel',
 'doxylamine',
 'deep sea nasal spray',
 'multi vitamin with lutein',
 '"juice plus"',
 'tramal',
 'phenylephrine hydrochloride',
 'ranitadine',
 'rozerem',
 'clarithromycin',
 'ashwagandha',
 'daily fiber',
 'phenegran',
 'resveratrol',
 'trilisate',
 'serzone',
 'gleevec',
 'mvi w/minerals',
 'multimineral',
 'megestrol',
 'metformin er',
 'glucosimine',
 'lorepamide hydrochloride',
 'alenbronate',
 'trusopt',
 'quintessentials complete pm',
 'daily dopholus',
 'meclizine',
 'oscal + d',
 'boniva',
 'timolol',
 'b complex/vitamin',
 'escitalopram oxalate',
 'prostate',
 'rosuvastatin',
 'lutein & zeaxanthin',
 'certaline',
 'oral chelation',
 'geritol',
 'periostat',
 'k tabs',
 'ciproflaxcin',
 'quinapril',
 'glycolax powder kre',
 'folic acid',
 'tramadol',
 'lasix',
 'pentoxyfylline',
 'fosamax d',
 'levotyroid',
 'bcg wash',
 'maalox plus',
 'citrical with d',
 'naproxen sodium',
 'azithromycin',
 'flucytosine propionate spray',
 'ocuvite',
 'ginger root',
 'niacinamide',
 'isosorb m',
 'metrogel',
 'imodium ad',
 '5% saline eye drops',
 'lumigan',
 'isosorbide',
 'nasonex spray',
 'captopril',
 'melforman hcl',
 'amlodipine/benzapine',
 'isosorbide mn',
 'ketorolac',
 'gingko',
 'dmae',
 'hospital records',
 'phs study drug',
 'steriod',
 'losartan (hyzaar)',
 'quine sulfate',
 'medroxyprogesterone',
 'k dor',
 'pyridium',
 'sulindac',
 'ionto/dex',
 'elocom cream',
 'sentury   vite',
 'phenergan suppository',
 'xalatan eye drops',
 'foradil aerolizer',
 'novamoxin',
 'etodolac',
 'clidamycin',
 'centrum silver  mvi',
 'butabital (for florinal)',
 'cortisone injection',
 'beta carotine',
 'flonase   fluticasone propionate',
 'azithropine',
 'cascara sagrada',
 'colestid',
 'complete senior multi vitamin',
 'lmz3',
 'cell forte with inositol',
 'isopathic flagyl',
 'acular',
 'chicken collagen',
 'methylcobalamin',
 'valerium',
 'psyllium husk bran tabs',
 'plavix',
 'micardis hct (telmisartan with hydrochlorothiazide)',
 'cinnamon tablets',
 'lomotil',
 'hydrocodone',
 'amolodipine',
 'lanoxin',
 'hydergine ergoloid mesylates',
 'cheratussin ac syrup',
 'pyridoxine',
 'typhoid vaccine',
 'proair',
 'thera tears',
 'hydrochlorothiazide',
 'ginko balboa',
 'calmag c',
 'motrin ib',
 'naproxen sodium (aleve)',
 'pro omega',
 'omeprezole',
 'cytomel',
 'cosopt eye solution',
 'leukeran',
 'fosamax',
 'hyalurenic acid',
 'diliatezem',
 'fast work for joints',
 'zostrex',
 'flackseed',
 'mega antioxidant vitamins',
 'omacor',
 'lovastatin',
 'therazyme bil',
 'klor con',
 'rivasa',
 'zosyn',
 'choline',
 'pseudo ephedrine',
 'pseudophed',
 'tessalon',
 'senna lax',
 'excedrin',
 'prelief',
 'dexamethasone injection',
 'cipro',
 'eye vitamin lutein',
 'trimcinolone acetonide nasal spray',
 'nitroglycerin pump spray',
 'pituitrophin',
 'simply sleep',
 'doxycyline',
 'brimonidine',
 'lantus u 100',
 'pletol',
 'iv rocephin',
 'citracel',
 'bactrim ds',
 'glucostrol xl',
 'tussionex',
 'fiber laxative',
 'saccharomyces boulardii',
 'saw palmetto',
 'oxycontin',
 'bupropion er',
 'skelactin',
 ' 4',
 'antidepressant',
 'losartan k/hct 100/25 mg',
 'naproxyn',
 'clebrex',
 'msm',
 'questran light',
 'citalopram',
 'oxytrol patch',
 'bendamustine',
 'aggrenox',
 'cholestyramine',
 'olanzapine',
 'amitriptyline',
 'chlorthalidone',
 'sucralfate',
 'dmae bitratrate',
 'vit e.',
 'straterra',
 'metrogel 1%',
 'bupropion hcl',
 'magnesium 64 supplement',
 'levothryoxin',
 'bacopa',
 'hemorrhoid cream',
 'ondansetron hcl',
 'fosinopril',
 'sodium bicarbonate',
 'dristan cold',
 'pamine',
 'veramyst',
 'tobradex eye drops',
 'cognisure',
 'memantine hcl',
 'opc synergy',
 'gluco condritin',
 'travotan .004%',
 'vasertic',
 'blf',
 'fetanyl',
 'corticosteroids',
 'cortizone 10',
 'american ginseng',
 'oxytrol transdermal system',
 'amidrine',
 'loratadine',
 'herbal biotic',
 'glucosomine/chondroitin',
 'mvi with minerals',
 'buspirone',
 'vitamin e (high gamma)',
 'clobetatasol cream',
 'tyenol',
 'trimetryglycine',
 'doxazosin',
 'diclofen sodium',
 'quar',
 'losartan potassium',
 'tapazole',
 'noritate cream',
 'oxybutynin',
 'zomig',
 'omprezole',
 'efudex',
 'chlortab',
 'fish body oil 1000',
 'provigil',
 'timolol 0.5%',
 'ventolin',
 "physicians' health study drug",
 'vsl #3',
 'pyridostigmine',
 'mg oxide',
 'nitroglycerine',
 'fentanyl patch',
 'norvasc',
 'citracal +d',
 'trimethoprim',
 'diltiazam',
 'enablex',
 'florosemide',
 'insulin humalog',
 'lutin',
 'metaproterenol',
 'metoprolol ta (lopressor)',
 'ntg spray',
 'vitamine c',
 'depo medrol',
 'allevert',
 'prinidone',
 'lorazapam',
 'pantoprazole sod',
 'maxair',
 'fexofenidine',
 'hydrochlorathiazide',
 'clematis',
 'renedil',
 'nambutone',
 'ahcc',
 'co q10 200',
 'refresh liquigel',
 'folic acid/ b12',
 'simethicone tablet',
 'organic bone support',
 'cranberry + c',
 'nasarel spray',
 'atenelol',
 'diprosalic',
 'foltx tabs',
 'klor tan',
 'fexofenadine',
 'vitorin',
 'miralax',
 'amoxicilin',
 'atrovent inhaler',
 'accopril',
 'atenolol',
 'finesceride',
 'miacalcic',
 'benadryl topical',
 'prevacid solutab',
 'liquid magnesium',
 'c pap',
 'sudafed',
 'h s fighters',
 'testim 1%',
 'aredia',
 'sotolol',
 'tumeric extract',
 'magnesium gluconate',
 'mvi without iron',
 'align cap',
 'clopidigrel',
 'boswellia serrata',
 'co enzyme q',
 'supartz jft',
 'gybmide',
 'theopylline',
 'co enzyme q. 10 (tri vita)',
 'luteine',
 'clopidogrel bisulfate',
 'amiloride hcl',
 'reclasp',
 'bactriban cream',
 'humira',
 'green tea extract',
 'potasium chloride er',
 'glucosomine',
 'alphagan p.o 15%',
 'ofloxacin',
 'buproprion hcl',
 'forward multimvitamins',
 'levothyroxine',
 'elavil',
 'ultimate bone',
 'prontonix',
 'reglan',
 'wal tussin',
 'mematine',
 'womens mvi',
 'verelan',
 'enhanced natural prostate',
 'acidophilus',
 'linisopril',
 'cyanocobalamin',
 'optipranolol',
 'lym',
 'diltiazem hcl',
 'pygeum',
 'i   vit',
 'citrical',
 'pyridoxal 5 phosphate',
 'fish',
 'relax and sleep vitamin',
 'genteal eye gel',
 'citaprolam vs placebo',
 'kaopectate',
 'saw pallmetto',
 'toradol',
 'melaleuca',
 'cyclobenzaprine hcl',
 'diazide',
 'clavulanic acid',
 'phosphatidyl choline',
 'zinc lozenges',
 'ascorbic acid',
 'amiloride hydrocholoride',
 'androgel 1%',
 'lecithin kelp w/bg',
 'atenolol/chlorthalidone',
 'metamucil fiber supplement',
 'magnesium hydroxide',
 'lisinopril tablets',
 'factive',
 'ritalin',
 'dicetel',
 'senekot',
 'asacol',
 'androgel 1 %',
 'lemon balm melissa',
 'econazole nitrate cream',
 'albuterol',
 'diphenoxylate/atropine',
 'provera',
 'dha fish',
 'versed',
 'apo clonidine',
 'oscal 500 + d',
 'atrovent',
 'astepro',
 'easiac',
 'depo medrol with lidocaine (1%)',
 'vision formula with lutein',
 'daptomycin',
 'ocu vite mvt',
 'remifemin',
 'ixbron/prednisone eye drops',
 'insulin 7030',
 'imodium a d',
 'hydrocortisone 1%',
 'livostin',
 'xaletan',
 'lamisil cream',
 ...}

In [9]:
common_meds_vocab = reccmed["CMMED"].value_counts().head(30).keys().values

one_hot_df = pd.get_dummies(reccmed["CMMED"])[common_meds_vocab].astype("int")
one_hot_df.columns = ["med_"+col for col in one_hot_df.columns]
one_hot_df.rename(columns={"med_ 4":"med_unknown"},inplace=True)

reccmed_ = pd.concat([reccmed[["subject","CMREASON","CMFREQNC"]], one_hot_df], axis=1)
reccmed_

,subject,CMREASON,CMFREQNC,med_unknown,med_aspirin,med_multivitamin,med_calcium,med_aricept,med_namenda,med_fish,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
0,S0002,NaN,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,S0003,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72563,S10586,3,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72564,S10586,3,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72565,S10586,2,13,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72566,S10586,2,10,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72567,S10586,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
groups = reccmed_.drop(columns=["CMFREQNC","CMREASON"]).groupby(by="subject")
all_meds_hist = groups.mean()
all_meds_hist

,med_unknown,med_aspirin,med_multivitamin,med_calcium,med_aricept,med_namenda,med_fish,med_vitamin b,med_vitamin c,med_vitamin d,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
subject,,,,,,,,,,,,,,,,,,,,,
S0002,0.300000,0.100000,0.033333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.066667,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0003,0.111111,0.055556,0.055556,0.000000,0.000000,0.277778,0.000000,0.0,0.055556,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0004,0.043478,0.000000,0.000000,0.000000,0.043478,0.000000,0.043478,0.0,0.043478,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S0005,0.095238,0.000000,0.000000,0.047619,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.047619,0.0,0.0,0.0
S0006,0.210526,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.052632,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S7122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
S7126,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0

In [11]:
all_subjects = all_subjects.merge(all_meds_hist.reset_index(),how="left")
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_hydrochlorothiazide,med_omeprazole,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.076923,0.0,0.0,0.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0

In [12]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("FAMHXSIB_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject","SIBDEMENT"]]
siblings["Num_siblings"] = 1
siblings = siblings.groupby(by="subject").sum()
siblings["SIBDEMENT"] /= siblings["Num_siblings"]
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
naive_dementia_rate = 0.001 # siblings["SIBDEMENT"].mean()
all_subjects.loc[pd.isna(all_subjects["SIBDEMENT"]), "SIBDEMENT"] = naive_dementia_rate
all_subjects = all_subjects.fillna(siblings["Num_siblings"].median()) # Num_siblings unknown set to zero
all_subjects

1836 402 1644 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_folic acid,med_synthroid,med_atenolol,med_metoprolol,med_omega 3,med_metformin,med_prednisone,med_flomax,SIBDEMENT,Num_siblings
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.076923,0.0,0.0,0.0,0.001,3.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.0,0.000000,0.0,0.0,0.0,0.001,3.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.04,0.0,0.04,0.0,0.000000,0.0,0.0,0.0,0.001,3.0

In [13]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("FAMHXPAR_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject","MOTHDEM","FATHDEM","MOTHAGE","FATHAGE"]]
siblings = siblings.groupby(by="subject").mean()
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects["MOTHDEM"] = all_subjects["MOTHDEM"].fillna(siblings["MOTHDEM"].mean())
all_subjects["FATHDEM"] = all_subjects["FATHDEM"].fillna(siblings["FATHDEM"].mean())
all_subjects

1914 421 1741 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,med_omega 3,med_metformin,med_prednisone,med_flomax,SIBDEMENT,Num_siblings,MOTHDEM,FATHDEM,MOTHAGE,FATHAGE
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,1.00000,0.000000,94.0,69.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,0.00000,1.000000,81.0,82.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,0.00000,1.000000,81.0,82.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,1.00000,0.000000,94.0,52.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000,2.0,1.00000,0.000000,94.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,0.076923,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.001,3.0,0.49157,0.284337,NaN,NaN

In [14]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("PHYSICAL_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("PX")]]
siblings = siblings.groupby(by="subject").mean()

all_subjects = all_subjects.merge(siblings,on="subject",how="left")
# all_subjects = all_subjects.fillna(1) # In case we have missing values, 1 represents a "normal" case.
all_subjects

4043 594 4043 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PXHEART,PXABDOM,PXEXTREM,PXEDEMA,PXPERIPH,PXSKIN,PXMUSCUL,PXBACK,PXOTHER,PXABNORM
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,1.0,2.0,1.0,2.0,2.0,2.0,1.0,1.0,NaN,1.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.5,1.0,1.0,1.0,1.0,1.5,1.5,1.0,1.0,1.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.5,1.0,1.0,1.0,1.0,1.5,1.5,1.0,1.0,1.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,2.0,1.5,2.0,1.5,1.0,1.0,1.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,2.0,2.0,1.5,2.0,1.5,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,1.0,1.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0

In [15]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("PTDEMOG_21Mar2025")
exclude = ["PTID","PTDOB","PTASIAN","PTADBEG","PTIDENT","PTORIENT","PTENGSPK","PTETHCATH","PTWORK","PTWORKHS","PTOPI","PTBIRPL","PTIMMAGE","PTIMMWHY","PTORIENTOT","PTENGSPKAGE","PTSPTIM","PTSPOTTIM","PTBORN","PTBIRPR","PTBIRGR"]
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("PT")and c not in exclude and "LANG" not in c]]
# siblings = siblings.astype("float")
siblings["PTRACCAT"] = siblings["PTRACCAT"].str.split("|").str[0].astype("float")
siblings = siblings.groupby(by="subject").first().fillna(1).replace(-4,1)# In case we have missing values, 1 represents a "normal" case.
# siblings["PTHAND"].unique()
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PTHAND,PTMARRY,PTEDUCAT,PTNOTRT,PTRTYR,PTHOME,PTCOGBEG,PTADDX,PTETHCAT,PTRACCAT
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,1.0,2.0,20.0,1.0,2005.0,1.0,9999.0,9999.0,2.0,5.0
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,18.0,0.0,1.0,1.0,9999.0,9999.0,2.0,5.0
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,18.0,0.0,1.0,1.0,9999.0,9999.0,2.0,5.0
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2007.0,1.0,9999.0,9999.0,2.0,5.0
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2007.0,1.0,9999.0,9999.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,2005.0,1.0,1.0,1.0,2.0,5.0
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,1984.0,2.0,1.0,1.0,2.0,5.0
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,3.0,12.0,1.0,2005.0,1.0,1.0,1.0,2.0,5.0
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,14.0,0.0,1.0,6.0,1.0,1.0,2.0,5.0
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,1.0,16.0,1.0,1984.0,2.0,1.0,1.0,2.0,5.0

In [16]:
# FAMHXSIB_21Mar2025 FAMHXPAR_21Mar2025 PHYSICAL_21Mar2025 PTDEMOG_21Mar2025 VITALS_21Mar2025
siblings = open_prepare_df("VITALS_21Mar2025")
A=set(siblings["subject"])
B=set(all_subjects["subject"])
print(len(A.union(B)), len(A.intersection(B)), len(A), len(B))
exclude = ["VSHGTSC","VSTMPSRC"]
siblings = siblings[["subject"] + [c for c in siblings.columns if c.startswith("VS")and c not in exclude]]
siblings.loc[siblings["VSWTUNIT"]==1, "VSWEIGHT"] *= 0.45359237 # pounds
siblings.loc[siblings["VSHTUNIT"]==1, "VSHEIGHT"] *= 2.54 # inches
siblings.loc[siblings["VSTMPUNT"]==1, "VSTEMP"] = (siblings.loc[siblings["VSTMPUNT"]==1, "VSTEMP"] - 32) / 1.8 # fahrenheight
siblings = siblings.drop(columns=[c for c in siblings.columns if "UN" in c])
siblings = siblings.groupby(by="subject").mean()
# siblings
all_subjects = all_subjects.merge(siblings,on="subject",how="left")
all_subjects

4140 594 4140 594

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,PTADDX,PTETHCAT,PTRACCAT,VSWEIGHT,VSHEIGHT,VSBPSYS,VSBPDIA,VSPULSE,VSRESP,VSTEMP
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,76.611751,167.000000,137.750000,70.250000,68.75,18.250000,36.819444
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,90.869671,172.000000,149.000000,69.666667,58.00,18.666667,25.062963
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,90.869671,172.000000,149.000000,69.666667,58.00,18.666667,25.062963
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,58.096111,158.000000,114.200000,64.800000,70.40,17.600000,29.855556
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,9999.0,2.0,5.0,58.096111,158.000000,114.200000,64.800000,70.40,17.600000,29.855556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,84.096025,32.360000,135.400000,84.400000,66.80,17.200000,36.233333
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,71.050709,31.852000,158.600000,75.600000,51.80,19.600000,35.566667
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,50.711627,23.336667,135.666667,67.500000,69.00,17.666667,36.333333
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,65.625744,29.566000,127.800000,67.800000,68.40,19.200000,36.120000
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,1.0,2.0,5.0,71.050709,31.852000,158.600000,75.600000,51.80,19.600000,35.566667

In [17]:
siblings = open_prepare_df("All_Subjects_APOERES_24Mar2025")
siblings = siblings[["subject","GENOTYPE"]].rename(columns={"GENOTYPE":"APOEGEN_1"})
siblings["APOEGEN_2"] = siblings["APOEGEN_1"].str.split("/").str[1].astype("int")
siblings["APOEGEN_1"] = siblings["APOEGEN_1"].str.split("/").str[0].astype("int")
# siblings=siblings.groupby(by="subject").first().reset_index()
all_subjects = all_subjects.merge(siblings, how="left", on="subject")

In [18]:
siblings = open_prepare_df("All_Subjects_FCI_24Mar2025")
siblings = siblings[["subject"]+[c for c in siblings.columns if c.endswith("TIME") or "SCORE" in c]]
siblings=siblings.dropna().reset_index(drop=True)
siblings=siblings.groupby(by="subject").mean().reset_index()
# siblings = siblings[["subject","GENOTYPE"]].rename(columns={"GENOTYPE":"APOEGEN"})
all_subjects=all_subjects.merge(siblings, how="left", on="subject")

In [19]:
siblings = open_prepare_df("All_Subjects_MMSE_24Mar2025")
siblings = siblings[["subject","MMSCORE"]].rename(columns={"MMSCORE":"MMSE"})
siblings=siblings.dropna().reset_index(drop=True)
siblings=siblings.groupby(by="subject").mean().reset_index()
# siblings
# siblings = siblings[["subject","GENOTYPE"]].rename(columns={"GENOTYPE":"APOEGEN"})
all_subjects=all_subjects.merge(siblings, how="left", on="subject")
# siblings

In [20]:
siblings = open_prepare_df("All_Subjects_MMSE_24Mar2025")
all_subjects["first_mmse_year"]=pd.to_datetime(siblings[["subject","USERDATE"]].groupby(by="subject").first().reset_index()["USERDATE"]).dt.year

In [21]:
all_subjects.to_csv("Data/subjects.csv")
# all_subjects = pd.read_csv("Data/subjects.csv").drop(columns="Unnamed: 0")
all_subjects

,imageid,subject,Group,num_events,AERELAD,AERELCM,AERELFLRBTBN,AERELFLRBPR,AEHIMG,AERELTAU,...,CHKCOMPOSSCORE,BANKSTATSCORE,TOTCOMPTIME,FCISCORE,MEDINSTIME,QUES5TIME,SNGLCHKTIME,COMPLXCHKTIME,MMSE,first_mmse_year
0,0,S6546,0,4,0.0,0.25,0.0,0.0,0.0,0.0,...,42.000000,12.333333,265.666667,65.000000,11.333333,3.333333,104.0,147.000000,27.666667,2005
1,1,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,47.000000,14.000000,206.000000,73.000000,1.000000,1.000000,80.0,124.000000,29.000000,2005
2,2,S6570,0,3,0.0,0.00,0.0,0.0,0.0,0.0,...,47.000000,14.000000,206.000000,73.000000,1.000000,1.000000,80.0,124.000000,29.000000,2005
3,3,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,46.666667,12.666667,273.333333,70.666667,13.666667,5.000000,84.0,170.666667,29.000000,2005
4,4,S6574,0,5,0.0,0.00,0.0,0.0,0.0,0.0,...,46.666667,12.666667,273.333333,70.666667,13.666667,5.000000,84.0,170.666667,29.000000,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,S0300,2,12,0.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,2011
1996,1996,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,2011
1997,1997,S1262,2,14,0.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.600000,2010
1998,1998,S0404,2,11,0.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.250000,2011
1999,1999,S0916,2,18,0.0,0.00,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,2010