In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
part_age = pd.read_csv("../../Data/Meta/ADNI_Participant_Age_Distribution_01-04-2025.csv")
part_visit = pd.read_csv("../../Data/Meta/ADNI_Participant_Visit_Distribution_01-04-2025.csv")

In [4]:
part_age

  Age Group  Number of Subjects
0     40-49                   1
1     50-59                 175
2     60-69                 920
3     70-79                1435
4     80-89                 497
5  Above 89                  29
6   Unknown                  13